.main {
  height: 100%;
  width: 20%;
  background-color: rgb(17, 17, 17);
  overflow-y: auto;
}
.main::-webkit-scrollbar {
  width: 10px;
}

.main::-webkit-scrollbar-thumb {
  background-color: #e7e7e7;
  border-radius: 5px;
}

.main::-webkit-scrollbar-track {
  background-color: #363636;
}
.left {
  width: 95%;
  height: 95%;
  background-color: #000000;
  margin-right: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
  border-top-right-radius: 5%;
  border-bottom-right-radius: 5%;
  justify-content: center;
}

.order {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.cher {
  width: 80%;
  height: 0.05%;
}
