.main {
  width: 10%;
  height: 99%;
  background-color: rgb(0, 0, 0);
  border-radius: 4%;
}

.title {
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title_par {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.cher {
  width: 80%;
  height: 0.05%;
}
